<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>
</head>
<body>

<h2>Dash Board</h2>


<table style="width:100%">
<tr>
    <td colspan="4">Material Code:<br>
   	 Material Name:<br>
     Material Location:<br>
     Unit of Measurement:<br>
    </td>
    <td colspan="4">Maximum Level:<br>
    Minimum Level:<br>
    Re order Level:<br>
    Quantity:<br>
    </td>
    
  </tr>
  <tr>
    <th>date</th>
    <th >Doc No</th>
    <th >Received issue</th>
     <th >Receipt</th>
     <th >issue</th>
     <th >Balance</th>
     <th >Verified</th>
     <th >Verified by</th>
  </tr>
  <tr>
  <td>12/05/21</td>
  <td>12</td>
  <td>dff</td>
  <td>fd</td>
  <td>fdsffd</td>
  <td>ff</td>
  <td>ff</td>
  <td>ff</td>
  
  </tr>
  
</table>

</body>
</html>
